<section class="about-us section-padding" id="about-us">
  <div class="container about-us-wrapper">
    <div class="about-us-text-wrapper">
      <h2 class="section-title about-us-title">About us</h2>
      <p class="about-us-text">
        Restaurant Rescue is the ultimate food game that combines fast-paced
        time management with creative cooking challenges. From flipping burgers
        to baking cakes, this game lets you showcase your culinary skills while
        rescuing struggling restaurants. Perfect for foodies and gamers alike,
        Restaurant Rescue promises hours of addictive fun with stunning visuals
        and a heartwarming story.
      </p>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            /img/about-us/about-desk.png    1x,
            /img/about-us/about-desk@2x.png 2x
          "
        />
        <source
          media="(min-width:320)"
          srcset="
            /img/about-us/about-mob.png    1x,
            /img/about-us/about-mob@2x.png 2x
          "
        />
        <img
          class="about-us-photo"
          src="/img/about-us/about-mobile.png"
          alt="Photo"
        />
      </picture>
    </div>
  </div>
</section>
