<section class="benefits section-padding-benefits" id="benefits">
  <div class="container">
    <h2 class="section-title benefits-title">Benefits</h2>
    <div class="benefits-container">
      <div class="benefits-item benefits-item-yellow">
        <img class="cloud-img" src="/img/benefits/cloud.png" alt="Cloud" />
        <p>
          Offline Mode: Play anywhere, anytime, even without an internet
          connection.
        </p>
      </div>

      <div class="benefits-item benefits-item-purple">
        <div class="benefits-wrapper">
          <img src="/img/benefits/gift.png" alt="Gift" />
          <p class="benefits-text">
            Daily Rewards: Log in every day to collect bonuses and special
            in-game items.
          </p>
        </div>
      </div>

      <div class="benefits-item benefits-item-green">
        <img class="cup-img" src="/img/benefits/cup.png" alt="Cup" />
        <p>
          Global Leaderboards: Compete with friends and players worldwide
          <br />to prove your culinary mastery.
        </p>
      </div>

      <div class="benefits-item benefits-item-blue">
        <div class="benefits-wrapper-blue">
          <img class="clock-img" src="/img/benefits/clock.png" alt="Clock" />
          <p class="benefits-text-blue">
            Seasonal Events: Participate in limited-time events to win exclusive
            prizes and rewards.
          </p>
        </div>
      </div>
      <div class="benefits-item benefits-item-violet">
        <img class="gear-img" src="/img/benefits/gear.png" alt="Gear" />
        <p>
          Frequent Updates: New recipes, levels, and story content added
          regularly to keep gameplay fresh.
        </p>
      </div>
    </div>
  </div>
</section>
