<section id="features" class="section-padding features-section">
  <div class="container">
    <h2 class="section-title features__title">Features</h2>

    <ul class="features__list">
      <li class="features__item">
        <div class="features__item__content">
          <img
            class="features__item__img"
            src="/img/features/clock.png"
            srcset="/img/features/clock.png 1x, /img/features/clock@2x.png 2x"
            alt=""
          />
          <h3 class="section-subtitle features__item__title">
            Fast-Paced Gameplay:
          </h3>
          <p class="features__item__descr">
            Manage orders, cook dishes, and serve customers in a race against
            time.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__item__content">
          <img
            class="features__item__img"
            src="/img/features/dish.png"
            srcset="/img/features/dish.png 1x, /img/features/dish@2x.png 2x"
            alt=""
          />
          <h3 class="section-subtitle features__item__title">
            Diverse Cuisines:
          </h3>
          <p class="features__item__descr">
            Explore recipes from around the world, from classic comfort food to
            gourmet delights.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__item__content">
          <img
            class="features__item__img"
            src="/img/features/lootbox.png"
            srcset="
              /img/features/lootbox.png    1x,
              /img/features/lootbox@2x.png 2x
            "
            alt=""
          />
          <h3 class="section-subtitle features__item__title">
            Challenging Levels:
          </h3>
          <p class="features__item__descr">
            Unlock new levels and face unique challenges to test your culinary
            skills.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__item__content">
          <img
            class="features__item__img"
            src="/img/features/upgrades.png"
            srcset="
              /img/features/upgrades.png    1x,
              /img/features/upgrades@2x.png 2x
            "
            alt=""
          />
          <h3 class="section-subtitle features__item__title">
            Restaurant Upgrades:
          </h3>
          <p class="features__item__descr">
            Customize and upgrade your restaurant to attract more customers and
            increase profits.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__item__content">
          <img
            class="features__item__img"
            src="/img/features/family.png"
            srcset="/img/features/family.png 1x, /img/features/family@2x.png 2x"
            alt=""
          />
          <h3 class="section-subtitle features__item__title">
            Engaging Storyline:
          </h3>
          <p class="features__item__descr">
            Follow an exciting narrative as you save restaurants from closing
            and build your culinary empire.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
