<header class="section-padding">
  <nav class="container">
    <a href="/index.html"><img src="/img/logo.png" alt="logo" /></a>
    <p class="section-title">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non.
    </p>
    <p class="section-subtitle">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non.
    </p>
  </nav>
</header>
