<section class="hero-section">
  <div class="container hero-container">
    <h1 class="page-title">Restaurant Rescue - Food Games</h1>
    <p class="hero-text">
      Cook, Serve, and Save the Day in Your Dream Restaurant!
    </p>
    <a
      class="google-play-link"
      href="https://play.google.com/store/apps/details?id=cooking.games.restaurant.rescue.chef"
      target="_blank"
      title="GooglePlay link"
      aria-label="Google Play Link"
    >
      <img src="/img/hero/gplay-btn.svg" alt="svg" />
    </a>
  </div>
</section>
