<section class="reviews-section section-padding" id="reviews">
  <div class="container">
    <h2 class="section-title reviews-title">Reviews</h2>
    <div class="review-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-decorations swiper-slide-blue">
            <h3 class="section-subtitle review-subtitle">ChefLover</h3>
            <div class="review-rate">
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
            </div>
            <p class="review-title">
              Amazing game! The levels are challenging, and the recipes are so
              creative!
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-decorations swiper-slide-purple">
            <h3 class="section-subtitle review-subtitle">FoodieFan</h3>
            <div class="review-rate">
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
            </div>
            <p class="review-title">
              I love upgrading my restaurant and seeing it come to life. Highly
              recommend!
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-decorations swiper-slide-green">
            <h3 class="section-subtitle review-subtitle">CookingPro</h3>
            <div class="review-rate">
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
            </div>
            <p class="review-title">
              Fast-paced and super fun! Perfect for anyone who loves food games.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-decorations swiper-slide-violet">
            <h3 class="section-subtitle review-subtitle">RescueHero</h3>
            <div class="review-rate">
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
            </div>
            <p class="review-title">
              A unique twist on cooking games. The storyline makes it even more
              enjoyable.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiper-slide-decorations swiper-slide-yellow">
            <h3 class="section-subtitle review-subtitle">KitchenMaster</h3>
            <div class="review-rate">
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
              <svg width="21" height="19">
                <use href="/img/sprite.svg#icon-rating-star"></use>
              </svg>
            </div>
            <p class="review-title">
              The best food game I've ever played. Can't wait for more updates!
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-button-next-reviews">
        <!-- <svg width="41" height="41">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg> -->
      </div>
      <div class="swiper-button-prev swiper-button-prev-reviews">
        <!-- <svg height="41">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg> -->
      </div>
    </div>


</section>
