.benefits-title {
  margin-bottom: 24px;
}
.benefits-item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  border-radius: 12px;
  padding: 16px 80px 16px 16px;
}
.benefits-item-yellow {
  position: relative;
  background-color: #fde78a;
}

.cloud-img {
  left: 170px;
  top: 20px;
  position: absolute;
}

.benefits-item-purple {
  position: relative;
  background-color: #f8d2e9;
  .benefits-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 26px;
  }
}
.gift-img {
  width: 82px;
  height: 86px;
}
.benefits-text {
  min-width: 192px;
  margin-left: auto;
}

.benefits-item-green {
  position: relative;
  background-color: #c0f2c9;
}
.cup-img {
  top: 30px;
  left: 188px;
  position: absolute;
}
.benefits-item-blue {
  position: relative;
  background-color: #c0e7f7;
  .benefits-wrapper-blue {
    display: flex;
    justify-content: center;
    padding-left: 26px;
  }
}
.benefits-text-blue {
  min-width: 192px;
  margin-left: auto;
}
.clock-img {
  width: 92px;
  height: 92px;
}
.benefits-item-violet {
  position: relative;
  background-color: #f3cdff;
}
.gear-img {
  width: 92px;
  height: 92px;
  transform: rotate(-20deg);
  bottom: 8px;
  left: 189px;
  position: absolute;
}

@media (min-width: 375px) {
  .cloud-img {
    left: 220px;
    top: -5px;
  }
  .cup-img {
    left: 235px;
  }
  .gear-img {
    left: 236px;
  }
}

@include media(desktop) {
  .benefits-item {
    padding: 16px 80px 16px 24px;
  }
  .benefits-item-yellow {
    width: 439px;
    position: relative;
    background-color: #fde78a;
  }
  .benefits-item-purple {
    width: 469px;
    height: 86px;
  }
  .benefits-item-green {
    width: 551px;
    height: 86px;
  }
  .benefits-text {
    min-width: 365px;
    height: 54px;
  }
  .benefits-item-blue {
    width: 482px;
    height: 86px;
  }
  .benefits-text-blue {
    min-width: 378px;
    height: 54px;
  }

  .benefits-item-violet {
    width: 530px;
  }

  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }

  .cloud-img {
    left: 357px;
    top: -24px;
    transform: rotate(34deg);
  }
  .gift-img {
    width: 100px;
    height: 104px;
  }
  .cup-img {
    width: 125px;
    top: -21px;
    left: 455px;
  }
  .gear-img {
    top: -30px;
    height: 120px;
    width: 120px;
    left: 459px;
    transform: rotate(11deg);
  }
}
