.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(134deg, #ffca76 0%, #ff7d67 100%);

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer-nav li {
    margin-bottom: 16px;
  }

  .footer-text {
    text-align: center;
  }
  .footer-logo {
    width: 85px;
    height: 30px;
  }
}
.footer-nav li a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom $_main_transition, color $_main_transition;
}
.footer-nav li a:hover,
a:focus {
  color: #4b0c26;
  border-bottom: 1px solid #4b0c26;
}
