.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(134deg, #ffca76 0%, #ff7d67 100%);

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
  .footer-nav li {
    margin-bottom: 16px;
  }

  .footer-text {
    text-align: center;
  }
  .footer-logo {
    width: 85px;
    height: 30px;
  }
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.footer-nav a {
  border-bottom: 1px solid transparent;
  transition: border-bottom $_main_transition, color $_main_transition;
}
.footer-nav a:hover,
a:focus {
  color: #4b0c26;
  border-bottom: 1px solid #4b0c26;
}
.footer-nav a:active {
  color: #4b0c26;
  border-bottom: 1px solid #4b0c26;
}

.footer-nav p {
  text-align: center;
}

.footer-link,
.footer-text {
  order: 0;
}

@include media(desktop) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-logo-img {
    max-width: 110px;
  }

  .footer-text {
    order: 1;
  }
  .footer-link.privacy {
    order: 2;
  }
  .footer-nav {
    justify-content: space-between;
    flex-direction: row;
  }
}
