.hero-section {
  background-image: url('../img/hero/hero-bg.png'),
    linear-gradient(134deg, #ffca76 0%, #ff7d67 100%);
  background-size: auto 285px, 100%;
  background-position: calc(50% + 46px) bottom, 0 0;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../img/hero/hero-bg@2x.png'),
      linear-gradient(134deg, #ffca76 0%, #ff7d67 100%);
  }
}

.hero-container {
  padding-top: calc(52px + 54px);
  padding-bottom: 32px;
}

.page-title {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #4b0c26;
}

.hero-text {
  margin-bottom: 178px;
}

.google-play-link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 14px 0;

  border: 1px solid #f6a00a;
  border-radius: 8px;

  background-color: #43cc5c;
  transition: background-color $_main_transition, box-shadow $_main_transition;

  &:focus {
    background-color: #30b749;
    box-shadow: 0 0 16px 12px rgba(240, 253, 76, 0.25);
  }
}

@include media(desktop) {
  .hero-section {
    background-position: calc(50% + 320px) bottom, 0 0;
    background-size: auto 675px, 100%;
  }

  .hero-container {
    padding-top: calc(140px + 54px);
    padding-bottom: 234px;
  }

  .page-title {
    font-size: 64px;
    letter-spacing: 0em;

    max-width: 570px;
    margin-bottom: 8px;
  }

  .hero-text {
    font-size: 24px;
    font-weight: 600;

    max-width: 420px;
    margin-bottom: 40px;
  }

  .google-play-link {
    max-width: 199px;
    margin-left: 0;

    &:hover {
      background-color: #30b749;
      box-shadow: 0 0 16px 12px rgba(240, 253, 76, 0.25);
    }
  }
}
