.reviews-section {
  background: linear-gradient(134deg, #ffca76 0%, #ff7d67 100%);
}
.reviews-title {
  margin-bottom: 24px;
}

.review-swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-slide-blue {
  background-color: #c0e7f7;
}

.swiper-slide-purple {
  background-color: #f3cdff;
}
.swiper-slide-green {
  background-color: #c0f2c9;
}

.swiper-slide-violet {
  background-color: #f8d2e9;
}

.swiper-slide-yellow {
  background-color: #fde78a;
}
.swiper-slide {
  position: relative;
  padding: 10px !important;
  width: 241px !important;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feb910;
  box-shadow: inset 4px 4px 4px 0 rgba(156, 91, 7, 0.28),
    inset -4px -4px 4px 0 rgba(156, 91, 7, 0.28);

  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 53px;
    height: 34px;
    transform: translateX(-50%);
    background-image: url('../img/reviews/decorations.svg');
  }
}

.swiper-slide-decorations {
  border-radius: 8px;
  height: 228px;
  padding-left: 16px;
  padding-top: 28px;
}

.swiper-slide-decorations {
  text-align: start;
}

.review-swiper {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

@include media(desktop) {
  .reviews-title {
    margin-bottom: 48px;
  }
  .swiper-slide {
    width: 287px !important;
  }
  .review-swiper {
    position: static;
    // top: auto;
    // right: auto;
    // bottom: auto;
    // left: auto;
    width: 930px;
  }

  .review-swiper {
    .swiper-button-next {
      width: 41px;
      height: 41px;
    }
    .swiper-button-prev {
      width: 41px;
      height: 41px;
    }
    .swiper-button-next:after {
      content: '';
    }
    .swiper-button-prev:after {
      content: '';
    }
    .swiper-button-next {
      top: 60%;
      display: block;
      color: #7c1f45;
      transition: all $_main_transition;
    }

    .swiper-button-next:hover,
    :focus {
      filter: drop-shadow(0 0 10px rgba(124, 31, 69, 0.6));
      color: #7c1f45;
    }
    .swiper-button-prev {
      top: 60%;
      display: block;
      transition: all $_main_transition;
      color: #7c1f45;
    }
    .swiper-button-prev:hover,
    :focus {
      filter: drop-shadow(0 0 10px rgba(124, 31, 69, 0.6));
      color: #7c1f45;
    }
    .swiper-button-next:active {
      color: #4b0c26;
    }
    .swiper-button-prev:active {
      color: #4b0c26;
    }
  }
  .review-container {
    position: relative;
  }
  .review-rate {
    margin-bottom: 18px;
  }
}
